* {
  margin: 0;
  padding: 0;
}

/* 
colo */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5e6bf8;
  height: 100vh;
}
.container {
  display: flex;
  height: 80vh;
  width: 90vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  color: #ffffff;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0px;
  width: 45vw;
  background-color: #5465f9;
}
.profile h1 {
  font-size: 30px;
  font-weight: bolder;
}
.profile h3 {
  font-size: 25px;
  font-weight: 500;
}
.profile p {
  font-size: 20px;
}

.btn_div {
  display: flex;
}
.btn_div button {
  background-color: transparent;
  color: #ffffff;
  width: 300px;
  border: 1px solid white;
  height: 40px;
  border-radius: 30px;
}

.btn_div div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  margin-left: -40px;
}

.imgDiv img {
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  border-radius: 50%;
}
/* Login Section */

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 0px;
  align-items: center;
  width: 45vw;
  background-color: #ffffff;
  color: #5465f9;
}

.login h1 {
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 200px;
  padding: 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

form input {
  text-align: center;
  border: none;
  border-bottom: 1px solid #5e6bf8;
  height: 20px;
  width: 250px;
  outline: none;
}
form button {
  background-color: #535ffa;
  border: none;
  width: 230px;
  height: 40px;
  color: #ffffff;
  border-radius: 30px;
}
.btn_div2 {
  display: flex;
}
.btn_div2 button {
  color: #535ffa;
  border: 1px solid #535ffa;
  width: 300px;
  height: 40px;
  border-radius: 30px;
  background: transparent;
}

.btn_div2 .boss {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #535ffa;
  position: relative;
  margin-left: -40px;
}
